<div class="job-list">
  <div class="background">
    <img src="./assets/images/recruitment-background.jpg" alt="">
  </div>
  <div *ngIf="currentURL == '/jobs'" class="search-section flex flex-row column-gap-2 justify-content-center p-4">
    <input [(ngModel)]="freeTxt" type="text" pInputText placeholder="Nhập việc làm">
    <p-dropdown [filter]="true" filterBy="name"
                [showClear]="true" optionLabel="name"
                [options]="departments"
                [(ngModel)]="selectedDepartment"
                placeholder="Chọn bộ phận"></p-dropdown>
    <p-button (onClick)="handleSearchByText()" label="Tìm kiếm" styleClass="p-button-primary"></p-button>
  </div>
  <div class="job-result ">
    <router-outlet></router-outlet>
  </div>
</div>
