<div #recruitment class="recruitment flex flex-column">
  <div class="header">
    <app-recruitment-header></app-recruitment-header>
  </div>
  <div class="flex content flex-grow-1">
    <div class="side-bar ">
      <app-dashboard-sidebar></app-dashboard-sidebar>
    </div>
    <div class="recruitment__jobs ">
      <p-table [value]="jobOverviews" [(selection)]="selectedJobOverview" dataKey="id"
               [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 4rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>Chức vụ</th>
            <th>Bộ phận</th>
            <th>Mục tiêu</th>
            <th>Ứng viên</th>
            <th>Trạng thái</th>
            <th>Cài đặt</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-job>
          <tr>
            <td>
              <p-tableCheckbox [value]="job"></p-tableCheckbox>
            </td>
            <td>
              <a class="job-detail-btn" [routerLink]="'/dashboard/jobs/'+job.id+'/candidates'">{{ job.title }}</a>
            </td>
            <td>{{ job.department }}</td>
            <td>{{ job.targetNumber }}</td>
            <td>{{ job.numberApplications }}</td>
            <td
              [ngStyle]="{'color': (job.status==true) ? 'green' : 'red'}">
              {{ job.status == true ? "Đang tuyển" : "Đã đóng" }}
            </td>
            <td>
             <span [routerLink]="'/dashboard/jobs/'+job.id" class="setting-icon">
              <i class="ph ph-gear"></i>
             </span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
