<div class="job-type-form p-5">
  <h2>Tạo Loại Công Việc</h2>
  <form [formGroup]="jobTypeForm" (ngSubmit)="onSubmit()">
    <div class="form-group flex column-gap-2 align-items-center">
      <label for="name">Tên Loại Công Việc</label>
      <input
        [pTooltip]="jobTypeForm.get('name')?.invalid && jobTypeForm.get('name')?.touched ? 'Không được để trống loại công việc' : ''"
        pInputText id="name" type="text" formControlName="name" class="form-control"/>
      <button label="Tạo Mới" pButton type="submit" class="btn btn-primary ml-3"
              [disabled]="jobTypeForm.invalid"></button>
      <!--      <div *ngIf="jobTypeForm.get('name')?.invalid && jobTypeForm.get('name')?.touched" class="text-danger">-->
      <!--        Không được để trống loại công việc-->
      <!--      </div>-->
    </div>
  </form>

  <div class="existed-job-type-table mt-6">
    <p-table [value]="filteredJobTypes"
             [tableStyle]="{ 'min-width': '50rem' }"
             [paginator]="true"
             [rows]="5"
             [globalFilterFields]="['name']"
             [loading]="loading"
             #jobTypesTb
    >
      <ng-template pTemplate="caption">
        <div class="flex">
          <i class="ph ph-search"></i>
          <input
            pInputText
            type="text"
            [formControl]="searchControl"
            placeholder="Search keyword"/>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th>Tên Loại Công Việc</th>
          <th>Xóa</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-jobType let-rowIndex="rowIndex">
        <tr>
          <td>{{ rowIndex + 1 }}</td>
          <td>{{ jobType.name }}</td>
          <td>
            <button (click)="deleteJobType(jobType)" pButton label="Xóa" [pStyleClass]="'p-button-error'"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <div class="not-found-record text-center" *ngIf="!jobTypes || jobTypes.length == 0">
      <p>Không tìm thấy bất kì loại công việc</p>
    </div>
  </div>
</div>
