<div class="grid login">
    <div class="col-8 background">
        <img alt="Login Background" src="./assets/images/login-background.jpg"/>
    </div>
    <div class="col-4 form">
        <div class="form__title">
            <h1>Hello Again!</h1>
            <h2>Welcome Back</h2>
        </div>
        <form (submit)="handleSubmit()" class="flex flex-column row-gap-4" [formGroup]="loginForm">
            <span class="p-input-icon-left">
                <i class="ph ph-envelope-simple"></i>
                <input id="email" type="text" pInputText formControlName="email" placeholder="Email"/>
            </span>
            <span class="p-input-icon-left">
                <i class="ph ph-lock-simple"></i>
                <input id="password" name="password" type="password" pPassword [feedback]="false"
                       formControlName="password" placeholder="Password"/>
            </span>
            <p-button type="submit" [label]="'Login'"></p-button>
        </form>
    </div>
</div>
