<div class="applications">
  <h2>Quản Lý Tiến Độ Hồ Sơ</h2>
  <p-accordion [activeIndex]="0">
    <app-application-state [state]="'APPLYING'" [applications]="classifiedApplications['APPLYING']"></app-application-state>
    <app-application-state [state]="'EXECUTING'" [applications]="classifiedApplications['EXECUTING']"></app-application-state>
    <app-application-state [state]="'INTERVIEWING'" [applications]="classifiedApplications['INTERVIEWING']"></app-application-state>
    <app-application-state [state]="'CONTRACTING'" [applications]="classifiedApplications['CONTRACTING']"></app-application-state>
    <app-application-state [state]="'ACCEPTED'" [applications]="classifiedApplications['ACCEPTED']"></app-application-state>
    <app-application-state [state]="'REJECTED'" [applications]="classifiedApplications['REJECTED']"></app-application-state>
  </p-accordion>
</div>


