<form [formGroup]="profileForm" class="profile" *ngIf="_profile">
  <div class="profile__information">
    <div class="information__main flex justify-content-between">
      <div>
        <h2>{{ getFullName(_profile?.firstname, _profile?.lastname) }}</h2>
        <h3>{{ _profile?.role.name }}</h3>
      </div>
      <div>
        <p-avatar label="N" size="xlarge"/>
      </div>
    </div>
    <div class="information__others grid row-gap-3 mt-3">
      <div class="col-6">
        <label class="information__label">Di động:</label>
        <span class="information__value">{{ _profile?.perPhone }}</span>
      </div>
      <div class="col-6">
        <label class="information__label">Email:</label>
        <span class="information__value">{{ _profile?.email }}</span>
      </div>
      <!--      <div class="col-6">-->
      <!--        <label class="information__label">Di động công ty:</label>-->
      <!--        <span class="information__value">{{ _profile?.compPhone }}</span>-->
      <!--      </div>-->
      <div class="col-6">
        <label class="information__label">Địa điểm làm việc:</label>
        <span class="information__value">{{ _profile?.workingPlace }}
                </span>
      </div>
      <div class="col-6">
        <label class="information__label">Vai trò tài khoản:</label>
        <span class="information__value">{{ _profile?.role.name }}
                </span>
      </div>
    </div>

  </div>
  <div class="profile__configuration mt-4">
    <p-tabView>
      <p-tabPanel header="Bảo mật tài khoản">
        <div class="configuration__block">
          <div class="title">
            <h3>QUẢN LÝ MẬT KHẨU</h3>
            <p-divider/>
            <p-button label="Reset mật khẩu" styleClass="p-button-secondary"
                      (onClick)="handleClickResetPassword()"></p-button>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Thông tin công việc">
        <div class="configuration__block">
          <h3>THÔNG TIN CÔNG VIỆC</h3>
          <p-divider/>
          <div class="grid">
            <!--            <div class="col-12 flex align-items-center">-->
            <!--              <label class="information__label">Bộ phận:</label>-->
            <!--              <p-dropdown [filter]="true" filterBy="value"-->
            <!--                          [showClear]="true" class="flex-1" optionLabel="value"-->
            <!--                          [options]="departments"-->
            <!--                          [(ngModel)]="selectedDepartment"-->
            <!--                          placeholder="Chọn bộ phận"></p-dropdown>-->
            <!--            </div>-->
            <div class="col-12 flex align-items-center">
              <label class="information__label">Địa chỉ làm việc:</label>
              <p-dropdown [filter]="true" filterBy="value"
                          [showClear]="true" class="flex-1" optionLabel="address"
                          optionValue="address"
                          [options]="workingPlaces"
                          formControlName="workingPlace"
                          placeholder="Chọn nơi làm việc"></p-dropdown>
            </div>
            <div class="col-12 flex align-items-center">
              <label class="information__label">Vai trò:</label>
              <p-dropdown [filter]="true" filterBy="value"
                          class="flex-1" optionLabel="name"
                          optionValue="code"
                          [options]="roles"
                          formControlName="role"
                          placeholder="Chọn vai trò"></p-dropdown>
            </div>
          </div>
        </div>
        <div class="mt-4"></div>
      </p-tabPanel>
      <p-tabPanel header="Thông tin riêng tư">
        <div class="grid personal-information">
          <div class="configuration__block col-6 flex flex-column row-gap-2">
            <h3>THÔNG TIN LIÊN HỆ <br>
              <p-divider/>
            </h3>

            <div class="block__detail flex justify-content-between align-items-center">
              <div class="block__title">
                <b>Địa chỉ cá nhân</b>
              </div>
              <div class="block__info flex-1 flex flex-column row-gap-2">
                <input type="text" pInputText placeholder="Đường 1" formControlName="perAddress1"/>
                <input type="text" pInputText placeholder="Đường 2" formControlName="perAddress2"/>
              </div>
            </div>
            <div class="block__detail flex justify-content-between align-items-center">
              <div class="block__title">
                <b>Email</b>
              </div>
              <div class="block__info flex-1 flex flex-column row-gap-2">
                <input type="text" pInputText placeholder="user@example.com" [readOnly]="true"
                       [value]="_profile?.email"/>
              </div>
            </div>
            <div class="block__detail flex justify-content-between align-items-center">
              <div class="block__title">
                <b>Điện thoại</b>
              </div>
              <div class="block__info flex-1 flex flex-column row-gap-2">
                <input type="text" pInputText placeholder="Số điện thoại" [readOnly]="true"
                       [value]="_profile?.perPhone"/>
              </div>
            </div>
          </div>
          <div class="configuration__block col-6 flex flex-column row-gap-2">
            <h3>CÔNG DÂN <br>
              <p-divider/>
            </h3>
            <!--            <div class="block__detail flex justify-content-between align-items-center">-->
            <!--              <div class="block__title">-->
            <!--                <b>Quốc gia</b>-->
            <!--              </div>-->
            <!--              <div class="block__info flex-1 flex flex-column row-gap-2">-->
            <!--                <input type="text" pInputText placeholder=""/>-->
            <!--              </div>-->
            <!--            </div>-->
            <div class="block__detail flex justify-content-between align-items-center">
              <div class="block__title">
                <b>Tên đầu</b>
              </div>
              <div class="block__info flex-1 flex flex-column row-gap-2">
                <input type="text" pInputText placeholder="" formControlName="firstname"/>
              </div>
            </div>
            <div class="block__detail flex justify-content-between align-items-center">
              <div class="block__title">
                <b>Tên cuối</b>
              </div>
              <div class="block__info flex-1 flex flex-column row-gap-2">
                <input type="text" pInputText placeholder="" formControlName="lastname"/>
              </div>
            </div>
            <div class="block__detail flex justify-content-between align-items-center">
              <div class="block__title">
                <b>Số CMND</b>
              </div>
              <div class="block__info flex-1 flex flex-column row-gap-2">
                <input type="text" pInputText placeholder="" formControlName="citizenID"/>
              </div>
            </div>
            <!--            <div class="block__detail flex justify-content-between align-items-center">-->
            <!--              <div class="block__title">-->
            <!--                <b>Số an sinh xã hội</b>-->
            <!--              </div>-->
            <!--              <div class="block__info flex-1 flex flex-column row-gap-2">-->
            <!--                <input type="text" pInputText placeholder=""/>-->
            <!--              </div>-->
            <!--            </div>-->
            <!--            <div class="block__detail flex justify-content-between align-items-center">-->
            <!--              <div class="block__title">-->
            <!--                <b>Số hộ chiếu</b>-->
            <!--              </div>-->
            <!--              <div class="block__info flex-1 flex flex-column row-gap-2">-->
            <!--                <input type="text" pInputText placeholder=""/>-->
            <!--              </div>-->
            <!--            </div>-->
            <div class="block__detail flex justify-content-between align-items-center">
              <div class="block__title">
                <b>Giới tính</b>
              </div>
              <div class="block__info flex-1 flex flex-column row-gap-2">
                <p-dropdown class="flex-1" optionLabel="label"
                            optionValue="code"
                            [options]="genderOptions"
                            formControlName="gender"
                            placeholder="Chọn giới tính"></p-dropdown>
              </div>
            </div>
            <div class="block__detail flex justify-content-between align-items-center">
              <div class="block__title">
                <b>Ngày sinh</b>
              </div>
              <div class="block__info flex-1 flex flex-column row-gap-2">
                <p-calendar placeholder="Date of Birth" formControlName="dob"/>
              </div>
            </div>
            <!--            <div class="block__detail flex justify-content-between align-items-center">-->
            <!--              <div class="block__title">-->
            <!--                <b>Nơi sinh</b>-->
            <!--              </div>-->
            <!--              <div class="block__info flex-1 flex flex-column row-gap-2">-->
            <!--                <input type="text" pInputText placeholder=""/>-->
            <!--              </div>-->
            <!--            </div>-->
          </div>
          <!--          <div class="configuration__block col-6 flex flex-column row-gap-2">-->
          <!--            <h3>GIÁO DỤC<br>-->
          <!--              <p-divider/>-->
          <!--            </h3>-->
          <!--            <div class="block__detail flex justify-content-between align-items-center">-->
          <!--              <div class="block__title">-->
          <!--                <b>Trình độ</b>-->
          <!--              </div>-->
          <!--              <div class="block__info flex-1 flex flex-column row-gap-2">-->
          <!--                <input type="text" pInputText placeholder="" [value]="_profile.eduLevelDescription"/>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--            <div class="block__detail flex justify-content-between align-items-center">-->
          <!--              <div class="block__title">-->
          <!--                <b>Chuyên ngành</b>-->
          <!--              </div>-->
          <!--              <div class="block__info flex-1 flex flex-column row-gap-2">-->
          <!--                <input type="text" pInputText placeholder=""/>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--            <div class="block__detail flex justify-content-between align-items-center">-->
          <!--              <div class="block__title">-->
          <!--                <b>Trường</b>-->
          <!--              </div>-->
          <!--              <div class="block__info flex-1 flex flex-column row-gap-2">-->
          <!--                <input type="text" pInputText placeholder=""/>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->
          <div class="configuration__block col-6 flex flex-column row-gap-2">
            <h3>LIÊN HỆ KHẨN CẤP<br>
              <p-divider/>
            </h3>
            <div class="block__detail flex justify-content-between align-items-center">
              <div class="block__title">
                <b>Tên liên hệ</b>
              </div>
              <div class="block__info flex-1 flex flex-column row-gap-2">
                <input formControlName="emergencyContactName" type="text" pInputText placeholder="Tên người liên hệ"/>
              </div>
            </div>
            <div class="block__detail flex justify-content-between align-items-center">
              <div class="block__title">
                <b>Số điện thoại</b>
              </div>
              <div class="block__info flex-1 flex flex-column row-gap-2">
                <input formControlName="emergencyPhoneNumber" type="text" pInputText placeholder="Số điện thoại"/>
              </div>
            </div>
          </div>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
  <div class="actions flex flex-row-reverse column-gap-3">
    <div class="action-item">
      <p-button styleClass="p-button-primary" label="Lưu" (onClick)="onClickUpdate()"></p-button>
    </div>
<!--    <div class="action-item">-->
<!--      <p-button styleClass="p-button-secondary" label="Trở về" (click)="handleClickingBack()"></p-button>-->
<!--    </div>-->
  </div>
</form>
