form {
  .form-control {
    .form-control-label {
      font-weight: bold;
      width: 10rem;
      display: inline-block;
    }
    small {
      color: red;
    }
  }

  .actions {
    ::ng-deep .p-button {
      width: 8rem;
      text-align: center;
      justify-content: center;
    }
  }

}
