<p-dialog
  [header]="'Xác nhận thay đổi mật khẩu'"
  [(visible)]="visible"
  [modal]="true"
  [style]="{width: '50rem'}"
>
  <form class="flex flex-column row-gap-4" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-control">
      <label class="form-control-label" for="oldPassword">Mật Khẩu Cũ</label>
      <input pPassword id="oldPassword" formControlName="currentPassword" type="password">
      <div class="flex flex-column row-gap-2"
           *ngIf="changePasswordForm.get('currentPassword')?.invalid && (changePasswordForm.get('currentPassword')?.touched || changePasswordForm.get('currentPassword')?.dirty)">
        <small *ngIf="changePasswordForm.get('currentPassword')?.errors.required">Vui lòng nhập mật khẩu hiện
          tại</small>
        <small *ngIf="changePasswordForm.get('currentPassword')?.errors.minlength">Mật khẩu tối thiểu 6 kí tự
          characters.</small>
        <small *ngIf="changePasswordForm.get('currentPassword')?.errors.maxlength">Mật khẩu tối đa 30 kí tự
          characters.</small>
      </div>
    </div>

    <div class="form-control">
      <label class="form-control-label" for="newPassword">Mật Khẩu Mới</label>
      <input pPassword id="newPassword" formControlName="newPassword" type="password">
      <div class="flex flex-column row-gap-2"
           *ngIf="changePasswordForm.get('newPassword')?.invalid && (changePasswordForm.get('newPassword')?.touched || changePasswordForm.get('newPassword')?.dirty)">
        <small *ngIf="changePasswordForm.get('newPassword')?.errors.required">Vui lòng nhập mật khẩu mới</small>
        <small *ngIf="changePasswordForm.get('newPassword')?.errors.minlength">Mật khẩu tối thiểu 6 kí tự
          characters.</small>
        <small *ngIf="changePasswordForm.get('newPassword')?.errors.maxlength">Mật khẩu tối đa 30 kí tự
          characters.</small>
      </div>
    </div>

    <div class="form-control">
      <label class="form-control-label" for="confirmPassword">Xác Nhận Mật Khẩu</label>
      <input pPassword id="confirmPassword" formControlName="confirmationPassword" type="password">
      <div class="flex flex-column row-gap-2"
           *ngIf="changePasswordForm.get('confirmationPassword')?.invalid && (changePasswordForm.get('confirmationPassword')?.touched || changePasswordForm.get('confirmationPassword')?.dirty)">
        <small *ngIf="changePasswordForm.get('confirmationPassword')?.errors.required">Vui lòng xác nhận mật
          khẩu.</small>
        <small *ngIf="changePasswordForm.get('confirmationPassword')?.errors.minlength">Mật khẩu tối thiểu 6 kí tự
          characters.</small>
        <small *ngIf="changePasswordForm.get('confirmationPassword')?.errors.maxlength">Mật khẩu tối đa 30 kí tự
        </small>
        <small *ngIf="changePasswordForm.errors?.passwordsMismatch">Xác nhân mật khẩu không trùng khớp</small>
      </div>
    </div>
    <div class="actions flex flex-row justify-content-end column-gap-3">
      <p-button class="action-btn" styleClass="p-button-secondary" (click)="handleOnClose()">Trở về</p-button>
      <p-button class="action-btn" type="submit" [disabled]="changePasswordForm.invalid">Thay đổi</p-button>
    </div>
  </form>

</p-dialog>
